<div id="shida1">
<div class="shida-img" id="shida-img1"><img src="<?php echo base_url();?>assets/images/shida1.png" class="img-circle"></div>
<div class="shida-title" id="shida-title1">果品饮料</div>
<div class="shida-content" id="shida-content1">代表感谢佛慈恩德</div>
</div>

<div id="shida6">
<div class="shida-img" id="shida-img6"><img src="<?php echo base_url();?>assets/images/shida6.png" class="img-circle"></div>
<div class="shida-title" id="shida-title6">幡</div>
<div class="shida-content" id="shida-content6">号履三千遍历法界的广大佛名号</div>
</div>

<div id="shida2">
<div class="shida-img" id="shida-img2"><img src="<?php echo base_url();?>assets/images/shida2.png" class="img-circle"></div>
<div class="shida-title" id="shida-title2">七宝</div>
<div class="shida-content" id="shida-content2">金银琉璃玛瑙砗磲珍珠珊瑚</div>
</div>

<div id="shida10">
<div class="shida-img" id="shida-img10"><img src="<?php echo base_url();?>assets/images/shida10.png" class="img-circle"></div>
<div class="shida-title" id="shida-title10">供花</div>
<div class="shida-content" id="shida-content10">代表般若波罗蜜</div>
</div>

<div id="shida3">
<div class="shida-img" id="shida-img3"><img src="<?php echo base_url();?>assets/images/shida3.png" class="img-circle"></div>
<div class="shida-title" id="shida-title3">梵乐</div>
<div class="shida-content" id="shida-content3">代表禅定愉悦</div>
</div>

<div id="shida9">
<div class="shida-img" id="shida-img9"><img src="<?php echo base_url();?>assets/images/shida9.png" class="img-circle"></div>
<div class="shida-title" id="shida-title9">敬香</div>
<div class="shida-content" id="shida-content9">代表无我利他</div>
</div>

<div id="shida4">
<div class="shida-img" id="shida-img4"><img src="<?php echo base_url();?>assets/images/shida4.png" class="img-circle"></div>
<div class="shida-title" id="shida-title4">宝盖</div>
<div class="shida-content" id="shida-content4">代表福佑天下众生之意</div>
</div>

<div id="shida8">
<div class="shida-img" id="shida-img8"><img src="<?php echo base_url();?>assets/images/shida8.png" class="img-circle"></div>
<div class="shida-title" id="shida-title8">佛灯</div>
<div class="shida-content" id="shida-content8">代表佛光普照</div>
</div>

<div id="shida5">
<div class="shida-img" id="shida-img5"><img src="<?php echo base_url();?>assets/images/shida5.png" class="img-circle"></div>
<div class="shida-title" id="shida-title5">幢</div>
<div class="shida-content" id="shida-content5">为众生谋福利</div>
</div>

<div id="shida7">
<div class="shida-img" id="shida-img7"><img src="<?php echo base_url();?>assets/images/shida7.png" class="img-circle"></div>
<div class="shida-title" id="shida-title7">净水</div>
<div class="shida-content" id="shida-content7">代表慈悲平静</div>
</div>



<div class="ffs-item">
	<div class="ffs-item-img">
		<img src="<?php echo base_url();?>assets/images/ffs1.png">
		<div class="ffs-item-title">四大菩萨</div>
	</div>
	<div class="ffs-item-des">供养文殊、普贤、地藏、观音四大菩萨</div>
	<div class="ffs-item-price">888元/尊</div>
	<div class="ffs-item-buy">
		<a href="javascript:count_minus('<?php echo ""?>')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
		<input type="text" style="width:30px;text-align:center;" value="0" maxlength="4" name="soldcount<?php echo ""?>" id="soldcount<?php echo ""?>">
		<a href="javascript:count_plus('<?php echo ""?>')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	</div>
</div>
<div class="ffs-item">
	<div class="ffs-item-img"><img src="<?php echo base_url();?>assets/images/ffs2.png">
	<div class="ffs-item-title">琉璃佛像</div></div>
	<div class="ffs-item-des">供养释迦摩尼佛</div>
	<div class="ffs-item-price">888元/尊</div>
	<div class="ffs-item-buy">
		<a href="javascript:count_minus('<?php echo ""?>')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
		<input type="text" style="width:30px;text-align:center;" value="0" maxlength="4" name="soldcount<?php echo ""?>" id="soldcount<?php echo ""?>">
		<a href="javascript:count_plus('<?php echo ""?>')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	</div>
</div>
<div class="ffs-item">
	<div class="ffs-item-img"><img src="<?php echo base_url();?>assets/images/ffs3.png">
	<div class="ffs-item-title">富贵莲花灯</div>
	</div>
	<div class="ffs-item-des">供养富贵莲花灯299元对</div>
	<div class="ffs-item-price">888元/尊</div>
	<div class="ffs-item-buy">
		<a href="javascript:count_minus('<?php echo ""?>')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></a>
		<input type="text" style="width:30px;text-align:center;" value="0" maxlength="4" name="soldcount<?php echo ""?>" id="soldcount<?php echo ""?>">
		<a href="javascript:count_plus('<?php echo ""?>')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
	</div>
</div>