.top{
	background-color: #4E71AD !important;
}

.active{
	background-color: #4E71AD !important;
}

.v1-nav-item:hover{
	background-color: #4E71AD !important;
}

.main{
	border-top: 2px solid #4E71AD !important;
}

.btn-primary{
	background-color: #4E71AD !important;
	border-color: #3E5988 !important;
}

.dropdown-menu>li>a:hover{
	background-color: #4E71AD !important;
}